:root {
    --text-color: #000000;
    --accent-color: #202020;
  }
  body {
    margin: 0px;
    background: #ffffff;
  }
  .navbar {
    background-color: #FFF8CE;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 100%;
  }
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  .navbar_logo {
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .navbar_logo * {
    font-size: x-large;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--text-color);
  }
  .navbar_menu li:hover {
    background-color: var(--accent-color);
  }
  .navbar_menu li {
    padding: 8px 12px;
  }
  .navbar_menu {
    display: flex;
    list-style: none;
    padding: 0px;
  }
  .navbar_icon {
    display: flex;
  }
  .navbar_icon a {
    color: var(--text-color);
    padding: 8px 12px;
  }
  .navbar_toggleBtn {
    position: absolute;
    top: 16px;
    right: 32px;
    font-size: 24px;
    color: #d49466;
    display: none;
  }
  .classroom{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  img{
    width: 500px;
    height: 600px;
    object-fit: cover;
  }
  .myclass{
    font-size: xx-large;
    color: #000000;
  }
  ol, ul, li {
    list-style: none;
  }
  .links{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .second_grade:hover .links{
    display: block;
  }
  .first_grade:hover .links{
    display: block;
  }
  .links li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .div{
      display: flex;
      justify-content: center;
  }
  .timetable{
      margin-top: 20px;
      background-color: violet;
      height: 600px;
      width: 600px;
  }